<section>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1524289286702-f07229da36f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHdhdGNoJTJDJTIwaGVhZHBob25lJTJDJTIwY29tcHV0aW5nfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="banner1">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="banner2">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1563191911-e65f8655ebf9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="banner3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</section>
<!-- INFORMACION GENERAL DEL LOCAL -->
<section class="presentacion">
  <div class="row">
    <div class="col-6 info-pre">
      <h3 ><strong>Sobre el local</strong></h3>
      <p>Ofrecemos productos de tecnología con garantía.</p>
    </div>
    <div class="col-6 info-pre">
      <h3 ><strong>Sobre mi</strong></h3>
      <p>Seguridad garantizada.</p>
    </div>
  </div>

</section>

<section class="productos">

  <h1>Productos</h1>
  <ul class="cards">
  <% @products.each do |product| %>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src= <%=product.imagen %>></div>
          <div class="card_content">
            <h2 class="card_title"><%=product.name %></h2>

            <h1 >$<%=product.price %></h1>

            <div class="d-grid gap-2">
            <%= link_to "Read more", product_path(product), class: "btn btn-outline-light" %>
            </div>
          </div>
        </div>
      </li>
  <% end %>
  </ul>



</section>
